@using WebsiteLaptop.Models
@model DanhMuc

<div class="mb-3">
    <label asp-for="TenDanhMuc" class="form-label">Tên danh mục</label>
    <input asp-for="TenDanhMuc" class="form-control" />
    <span asp-validation-for="TenDanhMuc" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="MoTa" class="form-label">Mô tả</label>
    <textarea asp-for="MoTa" class="form-control" rows="3"></textarea>
    <span asp-validation-for="MoTa" class="text-danger"></span>
</div>
