@{
    ViewBag.Title = "Cảm ơn vì đã đặt hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-5 text-center">
    <h2 class="text-success">Đặt hàng thành công!</h2>
    <p>Chúng tôi sẽ sớm xác nhận đơn hàng.</p>
    <a href="/" class="btn btn-primary mt-4">Về trang chủ</a>
</div>
